@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Colors */
:root {
	--light: #edf0f1;
	--dark-1: #24252A;
}

/* Spacing */
:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--light);
}

h1, p {
	font-family: "Open Sans", sans-serif;
}

p {
	font-size: 14px;
}

li, a, button {
	color: var(--light);
	text-decoration: none;

	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0vh 10%;

	background-color: var(--dark-1);
}

.logo {
	font-size: 25px;
	margin-right: auto;
}

.navbar-links {
	display: inline;
	list-style-type: none;
}

.navbar-links li {
	display: inline-block;
	padding: 1.5rem 1vw;
}

.navbar-links li a {
	transition: all	0.3s ease 0s;
}

.navbar-links li a:hover {
	color: #0088a9;
}

button {
	padding: 9px 25px;	
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;

	display: block;
	margin: auto;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

#splash-info {
	text-align: center;
	background-image: url('/img/flip.jpg');
	background-size: 100%;
	background-position: center;
	padding: 40vh;
}

#splash-info p {
	font-size: 48px;
	color: var(--light);
	margin-bottom: var(--mb-2);
}

.social {
	width: 3.0rem;
}

footer {
	padding: 2rem 0;
	background-color: var(--dark-1);
	text-align: center;
}

footer p {
	color: var(--light);	
}

#footer-logo {
	margin-bottom: var(--mb-2);
}

.footer-social {
	width: 1.5rem;
	margin-bottom: var(--mb-4);
}

.page-info {
	display: flex;
	justify-content: center;
	padding: 10vh;
	align-items: center;
}

.page-info p { 
	padding: 1rem;
}


.column {
	padding: 3rem;
}


#projects-preview {
	background-color: var(--light);
}

#projects-preview p {
	color: var(--dark-1);
}

#business-preview {
	background-color: var(--dark-1);
}

#business-preview p {
	color: var(--light);
}

#about-preview {
	background-color: var(--light);
}

#about-preview p {
	color: var(--dark-1);
}

#face-image {
	display: block;
	margin: auto;

	width: 20vw;
	height: auto;
}


#project-image {
	width: 40vw;
}

#business-image {
	width: 40vw;
}

/* ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */




/* Projects Page */

canvas {
	position: relative;
	z-index: -3 !important;
}

#projects-splash {
	padding: 100px;
	background: -webkit-canvas("canvas-target");
}
