@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* Colors */

:root {
	--light: #edf0f1;
	--dark-1: #24252A;
}

/* Spacing */

:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

.light {
	color: var(--dark-1);
	background-color: var(--light);
}

.dark {
	color: var(--light);
	background-color: var(--dark-1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--light);
}

h1, h3, p {
	font-family: "Open Sans", sans-serif;
}

p {
	font-size: 14px;
}

li, a, button {
	color: var(--light);
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	display: block;
	margin: auto;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

/* Navbar */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5vh 0;
	background-color: var(--dark-1);
}

.logo {
	font-size: 25px;
	margin: auto;
}

.navbar-links {
	list-style-type: none;
	overflow:unset;
}

.navbar-links li {
	display: inline-block;
	padding: 1.5rem 1vw 0 1vw;
}

.navbar-links li a {
	transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
	color: #0088a9;
}

/* Navbar Desktop Exceptions */

@media only screen and (min-width: 768px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 0vh 10%;
		background-color: var(--dark-1);
	}
	.logo {
		font-size: 25px;
		margin-left: 0;
		margin-right: auto;
	}
	.navbar-links {
		display: inline;
		list-style-type: none;
	}
	.navbar-links li {
		display: inline-block;
		padding: 1.5rem 1vw;
	}
	.navbar-links li a {
		transition: all 0.3s ease 0s;
	}
	.navbar-links li a:hover {
		color: #0088a9;
	}
}

/* Footer */

footer {
	padding: 2rem 0;
	background-color: var(--dark-1);
	text-align: center;
}

footer p {
	color: var(--light);
}

#footer-logo {
	margin-bottom: var(--mb-2);
}

.footer-social {
	width: 1.5rem;
	margin-bottom: var(--mb-4);
}

/* Mobile Design */

#splash-info {
	background-image: url('/img/flip.jpg');
	background-size: cover;
	background-position: 40% center;
}

#splash-container {
	padding: 20vh 0;
	text-align: center;
	background-color: #24252aa6;
	width: 100%;
}

#splash-container p {
	font-size: 36px;
	color: var(--light);
	margin-bottom: var(--mb-2);
}

.page-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 10vh 0;
}

.page-info p {
	padding: 1rem 0;
	margin: auto;
	display: block;
}

#socials {
	display: flex;
	justify-content: center;
}

.social {
	width: 2.0rem;
	margin: 2px;
}

.card-image {
	border-radius: 4vw;
	width: 60vw;
}

#face-image {
	width: 40vw;
}

.info-text {
	width: 40vw;
}

/* Desktop Specifics */

@media only screen and (min-width: 768px) {
	#splash-info {
		background-attachment: fixed;
	}
	#splash-container {
		padding: 35vh 0;
		background-color: #24252aa6;
		width: 100%;
	}
	#splash-container p {
		font-size: 48px;
		color: var(--light);
		display: block;
		margin: auto;
		margin-bottom: var(--mb-2);
	}
	.social {
		width: 3.0rem;
	}
	.page-info {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 10vh;
		align-items: center;
	}
	.reverse-flex {
		flex-direction: row-reverse;
	}
	.column {
		padding: 3rem;
	}
	.card-image {
		border-radius: 4vw;
		width: 40vw;
	}
	#face-image {
		width: 20vw;
	}
	.info-text {
		width: 25vw;
	}
}

/* General Page Secondary Page Styling */

.splash {
	padding: 5vh;
	text-align: center;
	width: 50vw;
	display: block;
	margin: auto;
}

.splash h1 {
	font-size: 10rem;
	padding: var(--mb-2) 0;
}

.splash p {
	font-size: 24px;
}

/* Projects Page */

#projects-splash {
	padding: 15vh 0;
	text-align: center;
	background-image: url("/img/codebackground.png");
	color: white;
}

#projects-splash h1 {
	font-size: 8vw;
	padding: var(--mb-2);
}

#projects-splash p {
	font-size: 4vw;
}

#projects-splash img {
	width: 20vw;
	padding: var(--mb-2);
}

#projects-splash div {
	background-color: #24252aa6;
	border: 3px solid white;
	width: 60vw;
	padding: 20px;
	margin: auto;
	display: block;
}

.project-expo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5vh;
	text-align: center;
}

.project-expo div p {
	margin-bottom: var(--mb-2);
}

.project-image {
	width: 50vw;
	display: block;
	margin: auto;
	margin-bottom: var(--mb-2);
}

/* Projects Page Desktop Specifications */

@media only screen and (min-width: 768px) {
	#projects-splash {
		padding: 15vh 0;
		text-align: center;
		background-image: url("/img/codebackground.png");
		color: white;
	}
	#projects-splash h1 {
		font-size: 8vw;
		padding: var(--mb-2);
	}
	#projects-splash p {
		font-size: 24px;
	}
	#projects-splash img {
		width: 6rem;
		padding: var(--mb-2);
	}
	#projects-splash div {
		background-color: #24252aa6;
		border: 3px solid white;
		width: 60vw;
		margin: auto;
		padding: 20px;
	}
	.project-expo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		padding: 2vh;
	}
	.project-expo a {
		color: var(--dark-1);
	}
	.project-expo h3, p {
		text-align: center;
		margin-bottom: var(--mb-2);
	}
	.project-expo-text {
		width: 35vw;
	}
	.project-image {
		width: 28vw;
		margin-bottom: var(--mb-2);
	}
	.reverse-flex {
		flex-direction: row-reverse;
	}
}

/* About Page */

#about-splash img {
	margin-bottom: var(--mb-6);
	border-radius: 30px;
}

/* Splash Page */

#contact-splash {
	padding: 23vh;
}