<div>
	<a href="index.html"><p id="footer-logo" class="logo">RoryHemmings</p></a>
	<div id="footer-socials">
		<a href="https://github.com/RoryHemmings"><img src="/img/github.svg" class="footer-social"></a>
		<a href="#"><img src="/img/fiverr.svg" class="footer-social"></a>
		<a href="#"><img src="/img/linkedin.svg" class="footer-social"></a>
		<a href="https://www.instagram.com/rory.hemmings/"><img src="/img/instagram.svg" class="footer-social"></a>
	</div>
	<p>&#169 Copyright 2021 All Rights Reserved</p>
</div>
