<div>
	<div>
		<a href="index.html"><img src="/img/logo.png" width="60px" class="logo" alt="logo"></a>
	</div>
	<div>
		<a href="#"><img src="/img/github.png" class="social"></a>
		<a href="#"><img src="/img/linkedin.png" class="social"></a>
		<a href="#"><img src="/img/fiverr.png" class="social"></a>
		<a href="#"><img src="/img/email.png" class="social"></a>
		<a href="#"><img src="/img/instagram.png" class="social"></a>
	</div>
</div>
<div>
	<p>Copyright 2021 Rory Hemmings All Rights Reserved</p>
</div>